<div id="friends-lookup">
  <h3>Search for Friends</h3>
  <%= form_tag search_friends_path, remote: true, method: :get, id: 'friends-lookup-form' do %>
  <div class="form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <%= text_field_tag :search_param, params[:search_param], placeholder: "first name, last name or email", 
                         autofocus: true, class: 'form-control search-box input-lg' %>
    </div>
    <div class="col-md-2">
      <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
        <i class="fa fa-search"></i> Look up a friend
      <% end %>
    </div>
  </div>  
  <% end %>
  <%= render 'common/spinner' %>
  <% if @users and @users.size > 0 %>
    <div id="friend-lookup-results" class="well results-block col-md-10">
       <table class="table table-striped search-results-table col-md-12">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to "View Profile",  user_path(friend), class: "btn btn-primary btn-xs" %>
              <% if current_user.not_friends_with?(user.id) %>
                <%= link_to 'Add friend', add_friend_path(user: current_user, friend: user), 
                                          :method => :post,
                                          :data => { :confirm => "Are you sure?" },
                                          :class => "btn btn-xs btn-success" %>
              <% else %>
                <span class="label label-primary">
                  You are friends
                </span>
              <% end %>
            </td>
          </tr>    
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
   <p class="lead col-md-12">
     No people match this search criteria.
   </p>
  <% end %>
  <div id="friend-lookup-errors"></div>
</div>